@page "/Tables/{orderNumber}/Details"
@model fungoodMVC.Areas.Backstage.Pages.Tables.Details
@{
    ViewData["Title"] = "Details";
}

<div class="d-flex justify-content-between">
    <h1>訂單內容 </h1>
    <h3>@Model.TableId 號桌</h3>
</div>

<div>
            <table class="m-auto w-75">
            <thead>
                <tr>
                    <th></th>
                    <th>品名</th>
                    <th class="text-center">單價</th>
                    <th class="text-center">辣度</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in @Model.Orders)
                {
                    <tr>
                        <td></td>
                        <td>@order.FoodItem.Name</td>
                        <td class="text-center">@order.FoodItem.Price</td>
                        <td class="text-center">@order.Spiciness</td>
                    </tr>
                }
                <tr>
                    <td>合計</td>
                    <td></td>
                    <td class="text-center">
                        @Model.Orders.Aggregate(0,(acc, current) => 
                        {
                            return acc + current.FoodItem.Price;
                        })
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <div class="d-grid p-3 gap-2">
            <a class="btn btn-secondary" type="button" href="/Orders/@Model.OrderNumber/Edit">
                後台編輯訂單
            </a>
            <button class="btn btn-secondary" type="button">
                結帳
            </button>
        </div>
</div>