@page
@model fungoodMVC.Areas.Backstage.Pages.FoodItems.DetailsModel

<body>

<div>
    <h4>FoodItem</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FoodItem.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FoodItem.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FoodItem.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FoodItem.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FoodItem.category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FoodItem.category.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FoodItem.ImageSrc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FoodItem.ImageSrc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FoodItem.HasSpiciness)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FoodItem.HasSpiciness)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FoodItem.Inserted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FoodItem.Inserted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FoodItem.LastUpdated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FoodItem.LastUpdated)
        </dd>
    </dl>
</div>
<div class="text-end">
    <a asp-page="./Index">Back to List</a> |
    <a asp-page="./Edit" asp-route-id="@Model.FoodItem?.Id">Edit</a> 
</div>
</body>
