@page 
@model fungoodMVC.Areas.Backstage.Pages.FoodItems.IndexModel
@{ string url = Model.Request.GetDisplayUrl();}

<partial name="/Areas/Backstage/Shared/_BackstageTabPartial.cshtml" model="url">

<table class="table" style="font-size:10px;">
    <thead>
        <tr>
            <th>
                @* @Html.DisplayNameFor(model => model.FoodItem[0].Name) *@
                名稱
            </th>
            <th>
                價格
            </th>
            <th>
                類別
            </th>
            <th>
                可調辣度
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model.FoodItem) 
        {
            <tr>
                <td class="text-nowrap">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HasSpiciness)
                </td>
                <td >
                    <a asp-page="./Details" asp-route-id="@item.Id" class="text-decoration-none">
                        <i class="fa-solid fa-circle-info fa-xl"></i>
                    </a> &nbsp; | &nbsp;
                    <a asp-page="./Edit" asp-route-id="@item.Id" class="text-decoration-none">
                        <i class="fa-regular fa-pen-to-square fa-xl"></i>
                    </a> &nbsp; | &nbsp;
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="text-decoration-none">
                        <i class="fa-solid fa-trash-can fa-xl"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="d-grid gap-2">
    <a asp-page="./Create" class="text-decoration-none btn btn-secondary" style="color: white;">新增品項</a>
</div>


