@page
@model fungoodMVC.Pages_FoodItems.IndexModel


<body>
<div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="#">訂單管理</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" asp-page="/FoodItems/Index">品項管理</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">餐桌狀態</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
        </li>
    </ul>
</div>
<table class="table" style="font-size:10px;">
    <thead>
        <tr>
            <th>
                @* @Html.DisplayNameFor(model => model.FoodItem[0].Name) *@
                名稱
            </th>
            <th>
                價格
            </th>
            <th>
                類別
            </th>
            <th>
                可調辣度
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.FoodItem[0].Inserted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodItem[0].LastUpdated)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.FoodItem) {
        <tr>
            <td class="text-nowrap">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasSpiciness)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.Inserted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdated)
            </td> *@
            <td >
                <a asp-page="./Edit" asp-route-id="@item.Id" class="text-decoration-none">
                    <i class="fa-regular fa-pen-to-square"></i>
                </a> |
                <a asp-page="./Details" asp-route-id="@item.Id" class="text-decoration-none">
                    <i class="fa-solid fa-circle-info"></i>
                </a> |
                <a asp-page="./Delete" asp-route-id="@item.Id" class="text-decoration-none">
                    <i class="fa-solid fa-trash-can"></i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
