@page "/order"
@model fungoodMVC.Pages.Order
@{
    ViewData["Title"] = "Order";
}

<h1>
    菜單
    <a href="#modal"" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#modal"">
        <i class="fa-solid fa-cart-shopping position-relative " style="color: #d19b3d;" >
            <span class="badge rounded-pill  translate-middle" id="cart-qty"></span>
        </i>
    </a>
</h1>

<div class="container">
    <div class="d-flex flex-column align-items-center">

    @foreach (var category in @Model.Categories)
    {
        <div class="card mb-2" style="width:90%">
            <div class="card-header">
                @category.Name
            </div>
            <div class="card-body p-0">
                @foreach (var item in @Model.FoodItems)
                {
                    @if (@item.CategoryId == @category.Id)
                    {
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <p>@item.Name</p>
                                    <p class="text-center">@(item.Price)$</p>
                                </div>
                                <div class="col p-2">
                                    <img src=@item.ImageSrc class="rounded"alt="暫無圖片" width="100" asp-append-version="true">
                                </div>
                                <div class="col d-flex justify-content-end align-items-center">
                                    <div>
                                        <button class="btn btn-lg" onclick="addToCart(this)"
                                        data-id="@(item.Id)" 
                                        data-price="@item.Price" 
                                        data-name="@item.Name"
                                        data-spicy="@item.HasSpiciness">
                                            <i class="fa-solid fa-cart-plus fs-2" style="color: #c28419;"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    }
    </div>
</div>
<partial name="Shared/_CartPartial.cshtml"></partial>
@* <div class="modal" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">購物車</h5>
      </div>
      <div class="modal-body">
        <table>
            <thead>
                <tr>
                    <th>品名</th>
                    <th>數量</th>
                    <th>單價</th>
                </tr>
            </thead>
            <tbody id="shopping-cart">

            </tbody>
        </table>
      </div>
      <p id="total"></p>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> *@

<script src="~/js/cartOperation.js" asp-append-version="true"></script>
<script>
    updateCartQty()
</script>